.magic-zoom {
    &__{
        &wrapper,
        &reflection,
        &cursor-frame {
            display: block;
            position: absolute;
            transform: translateZ(0); // hack for gpu acceleration
        }

        &wrapper {
            position: relative;
            z-index: 10;
            cursor: crosshair;
        }

        &reflection {
            background-repeat: no-repeat;
            background-color: white;
            cursor: crosshair;
        }

        &cursor-frame {
            &.magic-zoom__cursor-frame--default {
                height: 160px;
                width: 160px;

                background-color: rgba(0, 0, 0, 0.2);
            }
            &.magic-zoom__cursor-frame--auto {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

//desktop styles
@media screen and (min-width: 768px) {
    .magic-zoom {
    }
}
